*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.nav
*.snm
_minted-ctufit-presentation/
*.out
*.ps
*.run.xml
*.synctex.gz
*.toc
ctufit-presentation.pdf
pdfa.xmpi
ctufit-presentation.xdv
*-SAVE-ERROR
